# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
.env/
venv/

# Editors/IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
source-docs/*
source-docs/20*
!source-docs/outputs/
!source-docs/outputs/**
